.counts {
  margin: 12px 0;
  color: var(--text-color-secondary);
}

.add_match {
  margin: 12px 0;
}

.inputContainer {
  margin-bottom: 40px;
}

@media screen and (min-width: 720px) {
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .counts {
    flex: 1;
  }

  .add_match {
    margin: 0 12px;
  }

  /* .add_match button {
    height: 45px;
  } */

  .input {
    flex: 2;
  }
}
